@use "./vars.scss";
@use "./mixins.scss";

body {
  background-color: vars.$color-00;
  color: vars.$color-01;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
}

a {
  text-decoration: none;
}

.light {
  background-color: vars.$color-01;
  color: vars.$color-00;
  transition-duration: 0.4s;
}

h1 {
  margin: vars.$margin-00;
  font-size: vars.$font-size-01;
}

.element {
  padding: vars.$padding-01;
}

//~Button changes

.button {
  background-color: vars.$color-02;
  padding: vars.$padding-00;
  border-color: vars.$color-01;
  border-width: 0.3em;
  border-radius: 2rem;
  color: vars.$color-01;
  font-weight: bold;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.button:hover {
  background-color: vars.$color-01;
  color: vars.$color-00;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.light-button {
  background-color: vars.$color-02;
  padding: vars.$padding-00;
  border-color: vars.$color-00;
  border-width: 0.3em;
  border-radius: 2rem;
  color: vars.$color-00;
  font-weight: bold;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light-button:hover {
  background-color: vars.$color-00;
  color: vars.$color-01;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0);
}


//~Cards

.cardList {
  width: 70%;
  height: 100%;
  display: grid;
  row-gap: 10%;
  column-gap: 10%;
  grid-template-columns: repeat(auto-fill, 18.5em);
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  width: vars.$cards-width;
  height: vars.$cards-height;
  border-color: vars.$color-01;
  background-color: vars.$color-00;
  border: 0.2em solid;
  border-radius: 1rem;
  transition-duration: 0.2s;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.card:hover {
  transition-duration: 0.4s;
  transform: translateY(20px) scale(1.15, 1.15);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0);
};

.light-card {
  display: flex;
  flex-direction: column;
  width: vars.$cards-width;
  height: vars.$cards-height;
  border-color: vars.$color-00;
  background-color: vars.$color-01;
  border: 0.2em solid;
  border-radius: 1rem;
  transition-duration: 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//~Cards-content

.card_title {
  font-size: larger;
  margin: 2.5% 0% 0% 2.5%;
}

.card_content {
  margin-top: 15%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: smaller;
}

.card__read-link {
  margin-top: 20%;
  margin-left: 60%;
  font-size: x-small;
  color: rgb(0, 174, 255);
}

//~Cards-Sections

.card__section-Header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  background-color: vars.$color-03;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;

}

.card__section-Main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}